---
import { Image } from '@astrojs/image/components';
const {title, body, useImg, src } = Astro.props;
---

<div class="flex m-5 p-10 bg-white rounded-lg drop-shadow-xl">
	<div>
		<h2 class="m-0 text-lg text-center mb-5 font-bold">
			{title}
		</h2>
		<div>
			{useImg && <Image class="rounded-lg m-auto mb-5" src={src} width={300} height={200} alt="image" />}
			<p class="text-left text-[#444]">
				{body}
			</p>
		</div>
	</div>
</div>