---
import { Icon } from "astro-icon";
---

<a
    href="#"
    title="Up"
    id="upToMenuButton"
    class="fixed m-5 bottom-0 right-0 w-12 h-12 rounded-full flex justify-center items-center bg-slate-50 drop-shadow-xl z-10 border-2"
>
    <Icon size={22} name="mdi:arrow-top-bold " />
</a>

<footer class="w-full text-center bg-white drop-shadow-2xl mt-10 p-10">
    <p>&copy;2022</p>
</footer>

<script>
    const upToMenuButton = document.getElementById("upToMenuButton")?.style;
    
    window.onscroll = function () {
        const scrollPosition = window.pageYOffset;

        if (scrollPosition > 50) {
            upToMenuButton.display = "flex";
        } else {
            upToMenuButton.display = "none";
        }
    };
</script>
