<header
    class="w-full h-screen flex flex-col bg-fixed bg-cover bg-center justify-center items-center drop-shadow-xl"
    style="background-image:url('/assets/principal.jpg')"
>
    <nav class="m-2">
        <ul
            class="flex flex-col md:flex-row text-white drop-shadow-[0_1.2px_1.2px_rgba(0,0,0,0.8)] text-2xl font-bold"
        >
            <li class="opacity-90 hover:opacity-100 m-1.5">
                <a href="#home" title="Home">Home</a>
            </li>
            <li class="opacity-90 hover:opacity-100 m-1.5">
                <a href="#about" title="About">About</a>
            </li>
            <li class="opacity-90 hover:opacity-100 m-1.5">
                <a href="#products" title="Products">Products</a>
            </li>
            <li class="opacity-90 hover:opacity-100 m-1.5">
                <a href="#contact" title="Contact">Contact</a>
            </li>
        </ul>
    </nav>
</header>
